<section class="hero">

  <div class="box ">
    <p class="title">
    PQRSD No. {{selectedId}}
    </p>
    <p class="subtitle">
        Se generó el siguiente documento con número de radicado para el trámite correspondiente.
    </p>
    <button (click)="OnClick()" class="button  is-success is-large">Descargar solicitud</button>
   </div>
  <div class="box ">
   </div>

</section>
