    span.footnodeNumber { padding-right:1em; }
    span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
    .ta1 { writing-mode:horizontal-tb; direction:ltr; }
    .ce1 { font-family:Calibri; background-color:#4472c4; border-width:0.0133cm; border-style:solid; border-color:#0070c0; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;color:#ffffff; font-size:11pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
    .ce2 { font-family:Calibri; background-color:#4472c4; border-width:0.0133cm; border-style:solid; border-color:#0070c0; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;color:#ffffff; font-size:10pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:bold; }
    .ce3 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#0070c0; vertical-align:top; text-align:left ! important; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;color:#000000; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce4 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#0070c0; vertical-align:top; text-align:center ! important; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;color:#000000; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .ce5 { font-family:Calibri; border-width:0.0133cm; border-style:solid; border-color:#0070c0; vertical-align:middle; text-align:center ! important; margin-left:0cm; writing-mode:horizontal-tb; direction:ltr;color:#000000; font-size:8pt; font-style:normal; text-shadow:none; text-decoration:none ! important; font-weight:normal; }
    .co1 { width:5.382cm; }
    .ro1 { height:0.487cm; }
    .ro2 { height:0.743cm; }
    .ro3 { height:1.207cm; }
    .ro4 { height:0.928cm; }
    .ro5 { height:1.796cm; }
    .ro6 { height:0.649cm; }
    .ro7 { height:3.251cm; }
    .ro8 { height:0.866cm; }
    .ro9 { height:4.119cm; }


.ta1 {
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}
