<div class="is-variable mt-6  mb-6">

    <div class="mt-5 mb-4">
        <p>
        En este Formulario podrá solicitar: el reconocimiento de un derecho, la intervención de la
        entidad o funcionario, la resolución de una situación jurídica, la prestación de un servicio,
        requerir información, examinar y requerir copias de documentos, formular consultas, quejas,
        denuncias y reclamos e interponer recursos.
        </p>
    </div>

    <p>
        Por favor diligencie la información solicitada en los campos obligatorios.
    </p>

    <div class="content has-text-justified has-text-weight-light">
        <p class="has-text-weight-bold">
        <strong>Apreciado ciudadano:</strong>
        </p>
        <p class="mt-3">
        Al diligenciar el
        formulario, tenga en cuenta lo siguiente: <br/> <br/>
        La <strong><a href="http://www.secretariasenado.gov.co/senado/basedoc/ley_1437_2011.html#top">
                Ley 1437 de 2011</a></strong> en su artículo 13, modificado por el artículo 1 de la
        <strong><a href="https://funcionpublica.gov.co/eva/gestornormativo/norma.php?i=65334">
                Ley 1755 de 2015 </a></strong> establece que toda actuación que inicie
        cualquier persona ante las autoridades implica el ejercicio del
        derecho de petición consagrado en el artículo 23 de la
        <strong><a href="https://www.procuraduria.gov.co/iemp/media/file/ejecucion/Constituci%C3%B3n%20Pol%C3%ADtica%20de%20Colombia%202020.pdf"> Constitución Política</a></strong>, sin que sea necesario invocarlo.
        </p>
        <p>
        Lo invitamos a encontrar respuesta a su solicitud a través de nuestro banco de
        <strong><a href="http://www.insor.gov.co/home/servicio-al-ciudadano/preguntas-frecuentes/">
                Preguntas frecuentes</a></strong>.<br/> <br />
        </p>
        <p>
        Si su búsqueda no fue satisfactoria, agradecemos
        diligenciar la siguiente solicitud.
        </p>

        <div class="tabs is-medium is-toggle">
            <ul>
                <li (click) = "tabselector = 'naturaltab'"
             [ngClass]="{'is-active' : tabselector == 'naturaltab'}">
                    <a>Persona Natural</a>
                </li>
                <li (click)="tabselector = 'juridicatab'"
             [ngClass]="{'is-active' : tabselector == 'juridicatab'}">
                    <a>Persona Jurídica</a>
                </li>
                <li (click)="tabselector = 'ninestab'"
             [ngClass]="{'is-active' : tabselector == 'ninestab'}">
                    <a>Niños, Niñas y Adolescentes</a>
                </li>
                <li (click)="tabselector = 'apoderadotab'"
             [ngClass]="{'is-active' : tabselector == 'apoderadotab'}">
                    <a>Apoderado</a>
                </li>
                <li (click) = "tabselector = 'anonimatab'"
             [ngClass]="{'is-active' : tabselector == 'anonimatab'}">
                    <a>Petición Anónima</a>
                </li>
            </ul>

        </div>

        <div *ngIf="tabselector == 'naturaltab'" >
            <div class="content">
                <app-natural></app-natural>
            </div>
        </div>

        <div *ngIf="tabselector == 'juridicatab'" >
            <div class="content">
                <app-juridica></app-juridica>
            </div>
        </div>

        <div *ngIf="tabselector == 'ninestab'" >
            <div class="content">
                <app-nines></app-nines>
            </div>
        </div>

        <div *ngIf="tabselector == 'apoderadotab'" >
            <div class="content">
                <app-apoderado></app-apoderado>
            </div>
        </div>

        <div *ngIf="tabselector == 'anonimatab'" >
            <div class="content">
                <app-anonima></app-anonima>
            </div>
        </div>

        <label class='lable'> <strong> Solicitud de Información con Identificación Reservada </strong></label>

        <p class='mt-5'>
        Si usted considera que su identidad debe mantenerse reservada por encontrarse en alguna de las circunstancias establecidas en el Parágrafo del Artículo 4 de la <strong><a href="https://funcionpublica.gov.co/eva/gestornormativo/norma_pdf.php?i=56882">  Ley 1712 de 2014</a></strong>, a saber: "Cuando el usuario considere que la solicitud de la información pone en riesgo su integridad o la de su familia, podrá solicitar ante el Ministerio Público el procedimiento especial de solicitud con identificación reservada"; deberá diligenciar su petición a través del siguiente enlace <strong><a href="https://www.procuraduria.gov.co/portal/pqrsdf_Solicitud_de_informacion_con_identificacion_reservada.page" target="_blank"> Solicitud de información con identificación reservada. </a>
        </strong>. 
        </p>

        <label class='label'><strong>Costos de Reproducción</strong></label>
        <p>
        En el marco de <strong><a href="https://funcionpublica.gov.co/eva/gestornormativo/norma_pdf.php?i=56882"> Ley 1712 de 2014</a></strong> "Por medio de la cual se crea la Ley de transparencia y del derecho de acceso a la información pública nacional y se dictan otras disposiciones”, la información producida por el Instituto Nacional para Sordos - INSOR no tendrá costo a excepción del procesamiento de la información a la medida y las publicaciones que tengan asociados costos de reproducción, los cuales se encuentran parametrizados y definidos en el Artículo 23 de la <strong><a href="http://www.insor.gov.co/home/descargar/Reglamento-PQRSD-2019.pdf" target="_blank">
                Resolución 328 2019</a></strong> “Por la cual se reglamenta el trámite interno de las peticiones, quejas, reclamos, sugerencias y denuncias - PQRSD-, en el Instituto Nacional para Sordos - INSOR y se deroga la Resolución N° 033 de 2017"
        </p>


        <label class='lable'> <strong> Términos de Respuesta </strong></label>
        <p> De conformidad con las normas legales vigentes, se procede a presentar
        los términos establecidos para la resolución de las PQRSD </p>

        <table border="0" cellspacing="0" cellpadding="0" class="ta1">
            <colgroup>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <tr class="ro1">
                <td colspan="3" style="text-align:left;width:4.867cm; " class="ce1">
                    <p>LEY 1437 DE 2011 </p>
                    <p><span class="T1">Código de Procedimiento Administrativo y de lo Concencioso Administrativo</span></p>
                    <p><span class="T1">Modificada por la Ley 1755 de 2015</span></p>
                </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce2">
                    <p>Tipo de Solicitud</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce2">
                    <p>Término para resolver</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce2">
                    <p>Nota</p>
                </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>El reconocimiento de un derecho</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>La intervención de una entidad o funcionario</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>La resolución de una situación jurídica</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>La prestación de un servicio</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Requerir información</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>10 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5">
                    <p>1. y 2.</p>
                </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Examinar y requerir copias de documentos</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>10 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5">
                    <p>1. y 2.</p>
                </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Formular consultas</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>30 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Formular quejas / felicitaciones</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Formular denuncias</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Formular reclamos</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Interponer recursos</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>15 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td style="text-align:left;width:4.867cm; " class="ce3">
                    <p>Senadores, Representantes, Células Lejislativas</p>
                </td>
                <td style="text-align:left;width:3.598cm; " class="ce5">
                    <p>5 días siguientes a su recepción</p>
                </td>
                <td style="text-align:left;width:1.439cm; " class="ce5"> </td>
            </tr>
            <tr class="ro2">
                <td  style="text-align:left" colspan="3" class="ce3">
                    <p>Notas</p>
                    <p>1. Si en ese lapso no se ha dado respuesta al peticionario, se entenderá, para todos los efectos legales, que la respectiva solicitud ha sido aceptada y, por consiguiente, la administración ya no podrá negar la entrega de dichos documentos al peticionario, y como consecuencia las copias se entregarán dentro de los tres (3) días siguientes.</p>
                    <p>2. Cuando una autoridad formule una petición de información o de documentos a otra, esta deberá resolverla en un término no mayor de diez (10) días. En los demás casos, resolverá las solicitudes dentro de los plazos previstos en el artículo 14.</p>
                </td>
            </tr>
        </table>


    </div>
</div>

