<div class="content box has-shadow">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <p  class="content has-text-justified ">
                Parágrafo del artículo 4° de la Ley 1712 de 2014: Cuando el usuario considere
                que la solicitud de la información pone en riesgo su integridad o la de su familia,
                podrá solicitar ante el Ministerio Público el procedimiento especial de
                solicitud con identificación reservada.
         </p>

        <p  class="content has-text-justified mt-2">
            ¿Considera que se encuentra entre lo previsto del paragrafo de la ley.?
            Si su respuesta es afirmativa se debe diligenciar el formulario de anonimo en
            la pagina de la Procuraduria
            <strong><a href="https://www.procuraduria.gov.co/portal/solicitud_informacion_identificacion_reservada.page">PQRS-Procuraduria</a></strong>.
        </p>


        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Género
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.genero.touched && f.genero.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="genero">
                                <option value="2">Femenino</option>
                                <option value="3">LGBTI-QA (Lesbiana, Gay, Bisexual)</option>
                                <option value="1">Masculino</option>
                                <option value="4">No informa</option>
                                <option value="6">Otros</option>
                                <option value="5">Ninguna</option>
                            </select>
                        </span>
                        <p class="help">Seleccione su Género. Por ejemplo: Femenino</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Condición Lingüística
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.condiLing.touched && f.condiLing.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="condiLing">
                                <option value="2"> Usuario Español </option>
                                <option value="1"> Usuario Lengua de Señas </option>
                                <option value="4"> Usuario de Español y de Lengua de Señas </option>
                                <option value="5"> Usuario de otra lengua </option>
                            </select>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Información Poblacional
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.inforPobl.touched && f.inforPobl.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="inforPobl">
                                <option value="1"> Agentes Educativos (Secretarías de Educación, Instituciones Educativas, Rectores, Profesores / Docentes, No incluye Estudiantes) </option>
                                <option value="3"> Asociaciones de Sordos o Comunidad Sorda </option>
                                <option value="3"> Cesante (Sin Trabajo)                    </option>
                                <option value="4"> Ciudadanía en General                       </option>
                                <option value="5"> Contratista ó Empleados </option>
                                <option value="6"> Entidad Mixta                             </option>
                                <option value="7"> Entidad Privada                          </option>
                                <option value="1"> Entidad Pública                          </option>
                                <option value="1"> Estudiantes                                </option>
                                <option value="1"> Intérpretes o Asociaciones de Intérpretes </option>
                                <option value="1"> Otro                                     </option>
                                <option value="1"> Padres de familia / Familiares / Cuidadores   </option>
                                <option value="1"> Profesional                               </option>
                                <option value="1"> Servidor Público                         </option>
                                <option value="1"> Veeduría Ciudadana                       </option>
                                <option value="5"> Ninguno                                  </option>
                            </select>
                        </span>
                        <p class="help">Seleccione una opción que describa a qué grupo de interés pertenece.  Por ejemplo: Ciudadanía en general</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Rango de Edad</label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.rangoEdad.touched && f.rangoEdad.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="rangoEdad">
                                <option value="1"> 0 a 17 años </option>
                                <option value="2">18 a 20 años</option>
                                <option value="3">21 a 30 años</option>
                                <option value="4">31 a 40 años</option>
                                <option value="5">41 a 50 años</option>
                                <option value="6">51 a 60 años</option>
                                <option value="7">Mayor a 60 años</option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Señale dentro de qué rango de edad se encuentra. Por ejemplo: 18 a 20 años</p>
                </div>

            </div>

            <div class="column">


                <div class="field">
                    <label class="label">Tipo de Discapacidad
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.tipoDisca.touched && f.tipoDisca.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipoDisca">
                                <option value="2"> Visual </option>
                                <option value="1"> Auditiva </option>
                                <option value="4"> Física </option>
                                <option value="5"> Intelectual</option>
                                <option value="5"> Psicosocial o Mental </option>
                                <option value="3"> Sordoceguera </option>
                                <option value="0"> Mulltiple </option>
                                <option value="6"> Ningauna </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione su discapacidad. Por ejemplo: Auditiva</p>
                </div>

                <div class="field">
                    <label class="label">Estrato Socioeconómico </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.estraSoci.touched && f.estraSoci.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="estraSoci">
                                <option value="2">1</option>
                                <option value="3">2</option>
                                <option value="4">3</option>
                                <option value="5">4</option>
                                <option value="6">5</option>
                                <option value="7">6</option>
                                <option value="8">No indica</option>
                            </select>
                        </span>
                        <p class="help">Seleccione su estrato socioeconómico. Por ejemplo: 5</p>
                    </div>
                </div>


                <div class="field">
                    <label class="label">Atención Preferencial
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.atencPref.touched && f.atencPref.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="atencPref">
                                <option value="1"> No </option>
                                <option value="4"> Adulto Mayor </option>
                                <option value="3"> Mujer Gestante </option>
                                <option value="5"> Víctima del conflicto armado / Desplazado </option>
                                <option value="9"> Veteranos de la fuerza pública </option>
                            </select>
                        </span>
                        <p class="help">Seleccione una opción. Por ejemplo: No</p>
                    </div>
                </div>


                <div class="field">
                    <label class="label">Grupo Étnico
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.grupoEtni.touched && f.grupoEtni.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="grupoEtni">
                                <option value="2"> Afrocolombiano o Adrodescendiente </option>
                                <option value="6"> Palenquero </option>
                                <option value="3"> Pueblo Indígena </option>
                                <option value="4"> Raizal </option>
                                <option value="5"> Room o Gitano </option>
                                <option value="1"> Ninguno </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">¿Pertenece a algún grupo étnico?. Identifíquelo. Por ejemplo: Raizal</p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Teléfono Fijo</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telffijo.touched && f.telffijo.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telffijo"/>
                    </div>
                    <p class="help">Escriba el número de teléfono fijo de contacto. Por ejemplo: 601439122</p>
                    <article *ngIf="f.telffijo.invalid && (f.telffijo.dirty || f.telffijo.touched)">
                        <p *ngIf="f.telffijo.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telffijo.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Correo Electrónico</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.corrElec.touched && f.corrElec.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="corrElec"/>
                    </div>
                    <p class="help">Escriba la dirección electrónica donde desea recibir la respuesta. Por ejemplo: contacto@insor.gov.co</p>
                    <article *ngIf="f.corrElec.invalid && (f.corrElec.dirty || f.corrElec.touched)">
                        <p *ngIf="f.corrElec.errors?.email"
                            [ngClass] = "'help is-danger'">Correo invalido</p>
                        <p *ngIf="f.corrElec.errors?.required"
                            [ngClass] = "'help is-danger'">Correo requerido</p>
                    </article>
                </div>


                <div class="field">
                    <label class="label">Autorizo respuesta vía correo
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="answer">
                            Electrónico
                        </label>

                        <label class="radio">
                            <input type="radio" name="answer">
                            Físico
                        </label>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Teléfono Móvil</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telfmovi.touched && f.telfmovi.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telfmovi"/>
                    </div>
                    <p class="help">Escriba el número de teléfono celular de contacto. Por ejemplo: 3212345678</p>
                    <article *ngIf="f.telfmovi.invalid && (f.telfmovi.dirty || f.telfmovi.touched)">
                        <p *ngIf="f.telfmovi.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telfmovi.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Dirección</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.direccio.touched && f.direccio.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="direccio"/>
                    </div>
                    <p class="help">Escriba la dirección física donde desea recibir la respuesta. Por favor NO use abreviaturas. Por ejemplo: Calle 1 Este # 25 A - 25 Torre 1 Apartamento 101 Conjunto Nuevo Día Barrio La Esperanza Bogotá. </p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">País
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangePais($event)"
                            formControlName="paisName">
                            <option *ngFor="let item of divPais | keyvalue" value={{item.value.id_pais}}>
                            {{ item.value.nombre_pais }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Colombia</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Departamento
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangeDept($event)"
                            [ngClass]= "f.deptName.touched && f.deptName.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="deptName">
                            <option value="0">Seleccione Departamento</option>
                            <option *ngFor="let item of divDept | keyvalue" value={{item.value.id_departamento}}>
                            {{ item.value.nombre_departamento }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Tolima</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Municipio
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                (change)="onChangeMunc($event)"
                                [ngClass]= "f.muniName.touched && f.muniName.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="muniName">
                                <option value="0">Seleccione Municipio</option>
                                <option *ngFor="let item of divMuni | keyvalue" value={{item.value.id_municipio}}>
                                {{ item.value.nombre_municipio }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Ibagué</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Tipo de Petición
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select>
                                <option value="1"> Petición en interés general </option>
                                <option value="4"> Petición en interés particular</option>
                                <option value="3"> Peticiones especiales (Senadores, Representantes y Células Legislativas)</option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione el tipo de petición que desea presentar. Por ejemplo: Petición en interés general</p>
                </div>

                <div class="field">
                    <label class="label">Tipo de Solicitud
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.tipoSolc.touched && f.tipoSolc.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipoSolc">
                                <option value="1">Reconocimiento de un derecho </option>
                                <option value="1">Intervención de la entidad o funcionario en una situación específica</option>
                                <option value="1">Resolución de una situación jurídica</option>
                                <option value="1">Prestación de un servicio</option>
                                <option value="1">Requerir o solicitar información</option>
                                <option value="1">Examinar y requerir copia de documentos</option>
                                <option value="1">Formular consultas</option>
                                <option value="1">Formular quejas</option>
                                <option value="1">Formular felicitaciones</option>
                                <option value="1">Formular denuncias</option>
                                <option value="1">Formular reclamos</option>
                                <option value="1">Interponer recursos</option>
                                <option value="1">Senadores, Representantes y Células Legislativas</option>
                            </select>
                        </span>
                        <p class="help">Seleccione cuál es su solicitud. Por ejemplo: Prestación de un servicio</p>
                    </div>
                </div>

                <!-- Este campo se llena dependiendo del anterior -->
                <div class="field ">
                    <label class="label">Término para resolver</label>
                    <p class="help">Su solicitud será resuelta en <strong> 30 </strong>días hábiles siguientes a su recepción </p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column ">
                <div class="field">
                    <label class="label">Asunto
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.asunto.touched && f.asunto.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="asunto"/>
                    </div>
                    <p class="help">Describa de manera corta el objeto de su petición. Por ejemplo: Prestación del servicio de interpretación</p>
                    <div class="help is-danger" *ngIf="f.asunto.touched && f.asunto.invalid">
                        <p *ngIf="f.asunto.errors.required"
                            [ngClass] = "'help is-danger'">Asunto es requido </p>
                        <p *ngIf="f.asunto.errors.minlength"
                            [ngClass] = "'help is-danger'">El asunto debe contener mas de 5 caracteres</p>
                        <p *ngIf="f.asunto.errors.maxlength"
                            [ngClass] = "'help is-danger'">El asunto debe contener menos de 120 caracteres</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Descripción
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <textarea
                            class="textarea"
                            [ngClass]= "f.descripn.touched && f.descripn.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="descripn"></textarea>
                    </div>
                    <p class="help">Describa o exponga las razones en las que fundamenta su petición.</p>
                </div>

                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input
                            [ngClass]= "f.descripn.touched && f.descripn.invalid? 'input is-danger' : 'input is-success'"
                            class="file-input"
                            type="file"
                            name="resume">
                    </label>
                </div>

                <div class="field">
                    <label class="label">Anexos</label>
                    <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Cargue las imágenes o documentos que desea anexar.</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <p class="help">Se permite cargar imágenes en formato: jpg, jpeg, gif, png.</p>
                    <p class="help">Se permite cargar documentos en formato txt, doc, docx, xsl, xslx, csv, ppt, pptx, pdf.</p>
                    <p class="help">Se permite cargar documentos comprimidos en formato zip o rar.</p>
                    <p class="help">El tamaño máximo permitido por archivo es de 25 MB. </p>
                </div>

                <table class='mt-4'>

                    <label><strong>Política para el uso y tratamiento de datos personales</strong></label>

                    <tr class="ro9">
                        <td colspan="4" style="text-align: justified; width: 5.382cm;" class="ce3">
                            <p>
                                Autorizo al Instituto Nacional para Sordos - INSOR, NIT No. 860.016.627-8, ubicado
                                en la Carrera 89 A No. 64 C 30 Álamos Zona Industrial (Bogotá D.C., Colombia),
                                Teléfono Fijo en Bogotá (57) 6014391221 y Línea Gratuita Nacional 018000112021,
                                para recolectar, almacenar, usar, transferir, imprimir, procesar, circular y
                                suprimir información de carácter personal de los datos diligenciados en este
                                formulario, de acuerdo al cumplimiento de lo previsto por la Ley 1581 de 2012,
                                sus decretos reglamentarios y demás normas concordantes.
                            </p>
                            <p>
                                Para realizar el adecuado desarrollo de las actividades del INSOR y fortalecer
                                las relaciones con terceros se informa que los datos personales que usted
                                suministre serán tratados de acuerdo al <strong><a href='https://goo.gl/ak4BUi'>Manual de Políticas de Tratamiento y
                                Protección de Datos Personales Datos Personales</a></strong>
                            </p>

                            <div class="field">
                                <label class="label">Autorizo</label>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        No
                                    </label>

                                    <label class="radio">
                                        <input type="radio" name="answer" checked>
                                        Si
                                    </label>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>


                <div class="field">
                    <div class="control">
                        <button
                            class="button is-success"
                            [disabled]="!form.dirty"
                            type="submit">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <br/>
    <br/>
<div>
