<div class="content box has-shadow">
    <p>Los campos con asterisco (<span class="has-text-danger">*</span>) son de obligatorio diligenciamiento.</p>
    <p>Este Formulario aplica <strong>UNICAMENTE</strong> para personas mayores de 18 años.
    En caso de ser Usted menor de edad por favor vaya a la pestaña <strong>Niños, Niñas y Adolescentes</strong></p>

    <form [formGroup]="form" (ngSubmit)="submitFunc()">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label for="tipoDomc" class="label">Tipo de Documento
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.tipoDomc.touched && f.tipoDomc.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipoDomc" >
                                    <option *ngFor="let item of divTipoDoc | keyvalue" value={{item.value.id_tipodoc}}>
                                    {{ item.value.nombre_tipodoc}}
                                    </option>
                            </select>
                        </span>
                        <p class="help">Seleccione su Tipo de Documento. Por ejemplo: Cédula de Ciudadanía</p>
                        <p *ngIf="f.tipoDomc.invalid && f.tipoDomc.touched"
                                [ngClass] = "'help is-danger'">Tipo de documento requerido</p>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Número de Identificación
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.numIdent.touched && f.numIdent.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            name="numIdent"
                            formControlName="numIdent"/>
                    </div>
                    <p class="help">Escriba su número de identificación. Sólo números. Por ejemplo: 123456789</p>
                    <article *ngIf="f.numIdent.invalid && (f.numIdent.dirty || f.numIdent.touched)">
                        <p *ngIf="f.numIdent.errors?.pattern"
                            [ngClass] = "'help is-danger'">Identificación invalida, sólo números</p>
                        <p *ngIf="f.numIdent.errors?.required"
                            [ngClass] = "'help is-danger'">Identificación requerida</p>

                        <p *ngIf="f.numIdent.errors?.minlength"
                            [ngClass] = "'help is-danger'">Identificación minimo 5 digitos</p>
                    </article>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">

                    <label class="label">Nombres y Apellidos del Solicitante
                        <span class="has-text-danger">*</span>
                    </label>

                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.nombApell.touched && f.nombApell.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="nombApell" />
                    </div>
                    <p class="help">Escriba sus nombres y apellidos. Al menos primer nombre y primer apellido.
                    Por ejemplo: Daniela Valentina Rodríguez Gómez ó Daniela  Rodríguez</p>
                    <article *ngIf="f.nombApell.invalid && (f.nombApell.dirty || f.nombApell.touched)">
                        <p *ngIf="f.nombApell.errors?.pattern"
                            [ngClass] = "'help is-danger'">Nombre invalido, sólo letras</p>
                        <p *ngIf="f.nombApell.errors?.required"
                            [ngClass] = "'help is-danger'">Nombre requerido</p>
                        <p *ngIf="f.nombApell.errors?.minlength"
                            [ngClass] = "'help is-danger'">Nombre tamaño minimo 8 caracteres</p>
                    </article>
                </div>


                <div class="field">
                    <label class="label">Tipo de Discapacidad
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.tipoDisca.touched && f.tipoDisca.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipoDisca">
                                <option *ngFor="let item of  divDisc| keyvalue" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione su discapacidad. Por ejemplo: Auditiva</p>
                    <p *ngIf="f.tipoDisca.invalid && f.tipoDisca.touched"
                                [ngClass] = "'help is-danger'">Discapacidad requerida</p>
                </div>

                <div class="field">
                    <label class="label">Estrato Socioeconómico </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.estraSoci.touched && f.estraSoci.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="estraSoci">
                                <option *ngFor="let item of divEst | keyvalue" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion}}
                                </option>
                            </select>
                        </span>
                        <p class="help">Seleccione su estrato socioeconómico. Por ejemplo: 5</p>
                        <p *ngIf="f.estraSoci.invalid && f.estraSoci.touched"
                                [ngClass] = "'help is-danger'">Socioeconómico requerida</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Rango de Edad</label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.rangoEdad.touched && f.rangoEdad.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="rangoEdad">
                                <option *ngFor="let item of divRanEd2 | keyvalue: keepOrder" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Señale dentro de qué rango de edad se encuentra. Por ejemplo: 18 a 20 años</p>
                    <p *ngIf="f.rangoEdad.invalid && f.rangoEdad.touched"
                                [ngClass] = "'help is-danger'">Rango de Edad requerida</p>
                </div>

                <div class="field">
                    <label class="label">Atención Preferencial
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.atencPref.touched && f.atencPref.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="atencPref">
                                <option *ngFor="let item of divAtenPr | keyvalue: keepOrder" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione una opción. Por ejemplo: No</p>
                    <p *ngIf="f.rangoEdad.invalid && f.rangoEdad.touched"
                                [ngClass] = "'help is-danger'">Atención Preferencial requerida</p>
                </div>


            </div>

            <div class="column">

                <div class="field">
                    <label class="label">Género
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.genero.touched && f.genero.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="genero">
                                <option *ngFor="let item of divGen | keyvalue" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion}}
                                </option>
                            </select>
                        </span>
                        <p class="help">Seleccione su Género. Por ejemplo: Femenino</p>
                        <p *ngIf="f.genero.invalid && f.genero.touched"
                                [ngClass] = "'help is-danger'">Genero requerido</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Condición Lingüística
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.condiLing.touched && f.condiLing.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="condiLing">
                                <option *ngFor="let item of divLing | keyvalue" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion}}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione su condición lingüística. Por ejemplo: Usuario de Español</p>
                    <p *ngIf="f.condiLing.invalid && f.condiLing.touched"
                                [ngClass] = "'help is-danger'">Condición lingüística requerido</p>
                </div>

                <div class="field">
                    <label class="label">Información Poblacional
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.inforPobl.touched && f.inforPobl.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="inforPobl">
                                <option *ngFor="let item of divInfPo | keyvalue: keepOrder" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion }}
                                </option>
                            </select>
                        </span>
                        <p class="help">Seleccione una opción que describa a qué grupo de interés pertenece.  Por ejemplo: Ciudadanía en general</p>
                        <p *ngIf="f.inforPobl.invalid && f.inforPobl.touched"
                                [ngClass] = "'help is-danger'">Informacion Poblacional es requerido</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Grupo Étnico
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.grupoEtni.touched && f.grupoEtni.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="grupoEtni">
                                <option *ngFor="let item of divGruEsp | keyvalue: keepOrder" value={{item.value.atcparam_id}}>
                                {{ item.value.atcparam_descripcion }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">¿Pertenece a algún grupo étnico?. Identifíquelo. Por ejemplo: Raizal</p>
                    <p *ngIf="f.grupoEtni.invalid && f.grupoEtni.touched"
                                [ngClass] = "'help is-danger'">Grupo Étnico es requerido</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Teléfono Fijo</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telffijo.touched && f.telffijo.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telffijo"/>
                    </div>
                    <p class="help">Escriba el número de teléfono fijo de contacto. Por ejemplo: 601439122</p>
                    <article *ngIf="f.telffijo.invalid && (f.telffijo.dirty || f.telffijo.touched)">
                        <p *ngIf="f.telffijo.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telffijo.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Correo Electrónico
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.corrElec.touched && f.corrElec.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="corrElec"/>
                    </div>
                    <p class="help">Escriba la dirección electrónica donde desea recibir la respuesta. Por ejemplo: contacto@insor.gov.co</p>
                    <article *ngIf="f.corrElec.invalid && (f.corrElec.dirty || f.corrElec.touched)">
                        <p *ngIf="f.corrElec.errors?.email"
                            [ngClass] = "'help is-danger'">Correo invalido</p>
                        <p *ngIf="f.corrElec.errors?.required"
                            [ngClass] = "'help is-danger'">Correo requerido</p>
                    </article>
                </div>


                <div class="field">
                    <label class="label">Autorizo respuesta vía correo
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" formControlName="tipAutori" value='Electrónico' name="tipAutori">
                            Electrónico
                        </label>

                        <label class="radio">
                            <input type="radio" formControlName="tipAutori" value='Fisico' name="tipAutori"  checked>
                            Físico
                        </label>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Teléfono Móvil
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telfmovi.touched && f.telfmovi.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telfmovi"/>
                    </div>
                    <p class="help">Escriba el número de teléfono celular de contacto. Por ejemplo: 3212345678</p>
                    <article *ngIf="f.telfmovi.invalid && (f.telfmovi.dirty || f.telfmovi.touched)">
                        <p *ngIf="f.telfmovi.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telfmovi.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                        <p *ngIf="f.telfmovi.errors?.minlength"
                            [ngClass] = "'help is-danger'">Numero con 10 digitos minimo</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Dirección</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.direccio.touched && f.direccio.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="direccio"/>
                    </div>
                    <p class="help">Escriba la dirección física donde desea recibir la respuesta. Por favor NO use abreviaturas. Por ejemplo: Calle 1 Este # 25 A - 25 Torre 1 Apartamento 101 Conjunto Nuevo Día Barrio La Esperanza Bogotá. </p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">País
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangePais($event)"
                            formControlName="paisName">
                            <option *ngFor="let item of divPais | keyvalue" value={{item.value.id_pais}}>
                            {{ item.value.nombre_pais }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Colombia</p>
                    <p *ngIf="f.paisName.invalid && f.paisName.touched"
                                [ngClass] = "'help is-danger'">Pais requerido</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Departamento
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangeDept($event)"
                            [ngClass]= "f.deptName.touched && f.deptName.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="deptName">
                            <option value="0">Seleccione Departamento</option>
                            <option *ngFor="let item of divDept | keyvalue: keepOrder" value={{item.value.id_departamento}}>
                            {{ item.value.nombre_departamento }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Tolima</p>
                    <p *ngIf="f.deptName.invalid && f.deptName.touched"
                                [ngClass] = "'help is-danger'">Departamento requerido</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Municipio
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                (change)="onChangeMunc($event)"
                                [ngClass]= "f.muniName.touched && f.muniName.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="muniName">
                                <option value="0">Seleccione Municipio</option>
                                <option *ngFor="let item of divMuni | keyvalue: keepOrder" value={{item.value.id_municipio}}>
                                {{ item.value.nombre_municipio }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Ibagué</p>
                    <p *ngIf="f.deptName.invalid && f.deptName.touched"
                       [ngClass] = "'help is-danger'">Municipio requerido</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">

                    <label class="label"> Interés que se Persigue
                        <span class="has-text-danger">*</span>
                    </label>

                    <div class="control is-expanded">
                            <select
                                [ngClass]= "f.tipPetic.touched && f.tipPetic.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipPetic">
                                <option *ngFor="let item of divTipPet | keyvalue" value={{item.value.atcparam_id}}>
                                {{item.value.atcparam_descripcion}}
                                </option>
                            </select>
                    </div>

                    <p class="help">Seleccione el interés que se persigue con la solicitud. Por ejemplo: Petición en interés particular</p>
                    <p *ngIf="f.tipPetic.invalid && f.tipPetic.touched"
                       [ngClass] = "'help is-danger'">Tipo de Petición requerida</p>

                </div>

                <div class="field">
                    <label class="label">Tipo de Solicitud
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                #tipoSolicitud
                                (change)="onChangeSolc(tipoSolicitud.value)"
                                [ngClass]= "f.tipSolic.touched && f.tipSolic.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipSolic">
                                <option *ngFor="let item of divTipSol | keyvalue: keepOrder" value={{item.value.atcparam_id}}>
                                {{item.value.atcparam_descripcion}}
                                </option>
                            </select>
                        </span>
                        <p class="help">Seleccione cuál es su solicitud. Por ejemplo: Prestación de un servicio</p>
                    </div>
                </div>

                <!-- Este campo se llena dependiendo del anterior -->
                <div class="field ">
                    <label class="label">Término para resolver</label>
                    <p class="help">Su solicitud será resuelta en <strong> {{tiempos}} </strong>días hábiles siguientes a su recepción </p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column ">
                <div class="field">
                    <label class="label">Asunto
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.asunto.touched && f.asunto.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="asunto"/>
                    </div>
                    <p class="help">Describa de manera corta el objeto de su petición. Por ejemplo: Prestación del servicio de interpretación</p>
                    <div class="help is-danger" *ngIf="f.asunto.touched && f.asunto.invalid">
                        <p *ngIf="f.asunto.errors.required"
                            [ngClass] = "'help is-danger'">Asunto es requido </p>
                        <p *ngIf="f.asunto.errors.minlength"
                            [ngClass] = "'help is-danger'">El asunto debe contener mas de 5 caracteres</p>
                        <p *ngIf="f.asunto.errors.maxLength"
                            [ngClass] = "'help is-danger'">El asunto debe contener menos de 120 caracteres</p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Descripción
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <textarea
                            class="textarea"
                            [ngClass]= "f.descripn.touched && f.descripn.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="descripn"></textarea>
                    </div>
                    <p class="help">Describa o exponga las razones en las que fundamenta su petición.</p>
                    <div class="help is-danger" *ngIf="f.descripn.touched && f.descripn.invalid">
                        <p *ngIf="f.descripn.errors.required"
                            [ngClass] = "'help is-danger'">Asunto es requido </p>
                        <p *ngIf="f.descripn.errors.minlength"
                            [ngClass] = "'help is-danger'">La descripción debe contener mas de 5 caracteres</p>
                        <p *ngIf="f.descripn.errors.maxLength"
                            [ngClass] = "'help is-danger'">El asunto debe contener menos de 250 caracteres</p>
                    </div>
                </div>

                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input
                            [ngClass]= "f.descripn.touched && f.descripn.invalid? 'input is-danger' : 'input is-success'"
                            class="file-input"
                            type="file"
                            name="resume">
                    </label>
                </div>

                <div class="field">
                    <label class="label">Anexos</label>
                    <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Cargue las imágenes o documentos que desea anexar.</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <p class="help">Se permite cargar imágenes en formato: jpg, jpeg, gif, png.</p>
                    <p class="help">Se permite cargar documentos en formato txt, doc, docx, xsl, xslx, csv, ppt, pptx, pdf.</p>
                    <p class="help">Se permite cargar documentos comprimidos en formato zip o rar.</p>
                    <p class="help">El tamaño máximo permitido por archivo es de 25 MB. </p>
                </div>

                <table class='mt-4'>

                    <label><strong>Política para el uso y tratamiento de datos personales</strong></label>

                    <tr class="ro9">
                        <td colspan="4" style="text-align: justified; width: 5.382cm;" class="ce3">
                            <p>
                                Autorizo al Instituto Nacional para Sordos - INSOR, NIT No. 860.016.627-8, ubicado
                                en la Carrera 89 A No. 64 C 30 Álamos Zona Industrial (Bogotá D.C., Colombia),
                                Teléfono Fijo en Bogotá (57) 6014391221 y Línea Gratuita Nacional 018000112021,
                                para recolectar, almacenar, usar, transferir, imprimir, procesar, circular y
                                suprimir información de carácter personal de los datos diligenciados en este
                                formulario, de acuerdo al cumplimiento de lo previsto por la Ley 1581 de 2012,
                                sus decretos reglamentarios y demás normas concordantes.
                            </p>
                            <p>
                                Para realizar el adecuado desarrollo de las actividades del INSOR y fortalecer
                                las relaciones con terceros se informa que los datos personales que usted
                                suministre serán tratados de acuerdo al <strong><a href='https://goo.gl/ak4BUi'>Manual de Políticas de Tratamiento y
                                Protección de Datos Personales Datos Personales</a></strong>
                            </p>

                            <div class="field">
                                <label class="label">Autorizo</label>
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="answer" checked>
                                        Si
                                    </label>

                                    <label class="radio">
                                        <input type="radio" name="answer">
                                        No
                                    </label>

                                </div>
                            </div>

                        </td>
                    </tr>
                </table>


                <div class="field">
                    <div class="control">
                        <button
                            class="button is-success"
                            [disabled]="form.invalid"
                            type="submit">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <br/>
    <br/>
<div>
