<div class="content box has-shadow">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="columns">

            <div class="column">
                <div class="field">
                    <label class="label">Nombre de la Empresa o Razon Social
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            class="input is-success"
                            type="text"/>
                    </div>
                    <p class="help">Escriba el nombre de la empresa o la razón social.</p>
                </div>

                <div class="field">
                    <label class="label">Nombre y Apellido del Solicitante
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.repLegal.touched && f.repLegal.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="repLegal" />
                    </div>
                    <p class="help"> Escriba sus nombres y apellidos. Al menos primer nombre y primer apellido.
                    Por ejemplo: Daniela Valentina Rodríguez Gómez o Daniela Rodríguez</p>

                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Nit
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            class="input is-success"
                            type="text"/>
                    </div>
                    <p class="help">Escriba el NIT de la siguiente manera: 111111111-1.</p>

                    <article *ngIf="f.numIdent.invalid && (f.numIdent.dirty || f.numIdent.touched)">
                        <p *ngIf="f.numIdent.errors?.pattern"
                            [ngClass] = "'help is-danger'">Identificación invalida, sólo números</p>
                        <p *ngIf="f.numIdent.errors?.required"
                            [ngClass] = "'help is-danger'">Identificación requerida</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Cargo
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.cargo.touched && f.cargo.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="cargo"/>
                    </div>
                    <p class="help"> Por favor señale el cargo que ocupa en la empresa o entidad</p>

                    <article *ngIf="f.cargo.invalid && (f.cargo.dirty || f.cargo.touched)">
                        <p *ngIf="f.cargo.errors?.required"
                            [ngClass] = "'help is-danger'">Cargo es requerido</p>
                    </article>
                </div>

            </div>
        </div>

        <div class="columns">

            <div class="column">

                <div class="field">
                    <label class="label">Naturaleza Jurídica</label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                (change)="onChangeNat($event)"
                                [ngClass]= "f.natJuridi.touched && f.natJuridi.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="natJuridi">
                                <option value="0">Privada</option>
                                <option value="0">Mixta</option>
                                <option value="1">Pública</option>
                                <option value="5">N/A</option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione la naturaleza jurídica de la empresa o entidad. Por ejemplo:  Pública</p>
                </div>
            </div>

            <div class="columns">

                <div  class="column">
                    <div class="field">
                        <label class="label">Sector</label>
                        <span class="select">
                            <select
                                (change)="onChangeSect($event)"
                                [ngClass]= "f.sectorName.touched && f.sectorName.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="sectorName">
                                <option *ngFor="let item of divGrup | keyvalue" value={{item.value.id_sector}}>
                                {{ item.value.nombre_sector }}
                                </option>
                            </select>
                            <p class="help"> Seleccione el sector al cual pertenece la empresa o entidad.</p>
                        </span>

                    </div>
                </div>

                <div  class="column">
                    <div class="help is-infor" *ngIf="tooltipSec">
                        <p>{{tooltipSec}}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="columns">

            <div  class="column">
                <div class="field">
                    <label class="label">Sub-Sector</label>
                    <span class="select">
                        <select
                            (change)="onChangeSubSect($event)"
                            [ngClass]= "f.subSectorName.touched && f.subSectorName.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="subSectorName">
                            <option *ngFor="let item of divSubGrup | keyvalue" value={{item.value.id_grupo}}>
                            {{ item.value.grupo_nombre}}
                            </option>
                        </select>
                    </span>

                </div>
            </div>

            <div class="column">

                <div class="field">
                    <label class="label">Nivel de Cobertura</label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.rangoEdad.touched && f.rangoEdad.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="rangoEdad">
                                <option value="2"> Municipal </option>
                                <option value="1"> Distrital </option>
                                <option value="3"> Departamental </option>
                                <option value="4"> Nacional</option>
                                <option value="5"> Ninguno</option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione una opción. Por Ejemplo: Municipal</p>
                </div>

                <div class="field">
                    <label class="label">Atención Preferencial
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.atencPref.touched && f.atencPref.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="atencPref">
                                <option value="1"> No </option>
                                <option value="4"> Adulto Mayor </option>
                                <option value="3"> Mujer Gestante </option>
                                <option value="2"> Niño, Niña o Adolescente</option>
                                <option value="5"> Víctima del conflicto armado / Desplazado </option>
                                <option value="6"> Veteranos de la fuerza pública </option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione una opción. Por ejemplo: No</p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Teléfono Fijo</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telffijo.touched && f.telffijo.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telffijo"/>
                    </div>
                    <p class="help"> Escriba el número de teléfono fijo de contacto. Por ejemplo: 6014391221</p>
                    <article *ngIf="f.telffijo.invalid && (f.telffijo.dirty || f.telffijo.touched)">
                        <p *ngIf="f.telffijo.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telffijo.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                    </article>
                </div>

                <div class="field">
                    <label class="label">Correo Electrónico
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.corrElec.touched && f.corrElec.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="corrElec"/>
                    </div>
                    <p class="help">Escriba la dirección electrónica donde desea recibir la respuesta. Por ejemplo: contacto@insor.gov.co</p>
                    <article *ngIf="f.corrElec.invalid && (f.corrElec.dirty || f.corrElec.touched)">
                        <p *ngIf="f.corrElec.errors?.email"
                            [ngClass] = "'help is-danger'">Correo invalido</p>
                        <p *ngIf="f.corrElec.errors?.required"
                            [ngClass] = "'help is-danger'">Correo requerido</p>
                    </article>
                </div>


                <div class="field">
                    <label class="label">Autorizo respuesta vía correo
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="answer">
                            Electrónico
                        </label>

                        <label class="radio">
                            <input type="radio" name="answer">
                            Físico
                        </label>
                    </div>
                </div>

            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Teléfono Móvil
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.telfmovi.touched && f.telfmovi.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="telfmovi"/>
                    </div>
                    <article *ngIf="f.telfmovi.invalid && (f.telfmovi.dirty || f.telfmovi.touched)">
                        <p *ngIf="f.telfmovi.errors?.pattern"
                            [ngClass] = "'help is-danger'">Numero invalido, sólo números</p>
                        <p *ngIf="f.telfmovi.errors?.required"
                            [ngClass] = "'help is-danger'">Numero requerido</p>
                    </article>
                    <p class="help">Escriba el número de teléfono celular de contacto. Por ejemplo: 3212345678</p>
                </div>

                <div class="field">
                    <label class="label">Dirección</label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.direccio.touched && f.direccio.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="direccio"/>
                    </div>
                    <p class="help">Escriba la dirección física donde desea recibir la respuesta. Por favor NO use abreviaturas. Por ejemplo: Calle 1 Este # 25 A - 25 Torre 1 Apartamento 101 Conjunto Nuevo Día Barrio La Esperanza Bogotá. </p>
                </div>

            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">País
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangePais($event)"
                            formControlName="paisName">
                            <option *ngFor="let item of divPais | keyvalue" value={{item.value.id_pais}}>
                            {{ item.value.nombre_pais }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Colombia</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Departamento
                        <span class="has-text-danger">*</span>
                    </label>
                    <span class="select">
                        <select
                            (change)="onChangeDept($event)"
                            [ngClass]= "f.deptName.touched && f.deptName.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="deptName">
                            <option value="0">Seleccione Departamento</option>
                            <option *ngFor="let item of divDept | keyvalue" value={{item.value.id_departamento}}>
                            {{ item.value.nombre_departamento }}
                            </option>
                        </select>
                    </span>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Tolima</p>
                </div>
            </div>

            <div *ngIf="showDiv" class="column">
                <div class="field">
                    <label class="label">Municipio
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                (change)="onChangeMunc($event)"
                                [ngClass]= "f.muniName.touched && f.muniName.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="muniName">
                                <option value="0">Seleccione Municipio</option>
                                <option *ngFor="let item of divMuni | keyvalue" value={{item.value.id_municipio}}>
                                {{ item.value.nombre_municipio }}
                                </option>
                            </select>
                        </span>
                    </div>
                    <p class="help">Seleccione una de las siguientes opciones. Por ejemplo: Ibagué</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Tipo de Petición
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select>
                                <option value="1"> Petición en interés general </option>
                                <option value="4"> Petición en interés particular</option>
                                <option value="3"> Peticiones especiales (Senadores, Representantes y Células Legislativas)</option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione el tipo de petición que desea presentar. Por ejemplo: Petición en interés general</p>
                </div>

                <div class="field">
                    <label class="label">Tipo de Solicitud
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <span class="select">
                            <select
                                [ngClass]= "f.tipoSolc.touched && f.tipoSolc.invalid? 'input is-danger' : 'input is-success'"
                                formControlName="tipoSolc">
                                 <option value="1">Reconocimiento de un derecho</option>
                                 <option value="1">Intervención de la entidad o funcionario en una situación específica</option>
                                 <option value="1">Resolución de una situación jurídica</option>
                                 <option value="1">Prestación de un servicio</option>
                                 <option value="1">Requerir o solicitar información</option>
                                 <option value="1">Examinar y requerir copia de documentos</option>
                                 <option value="1">Formular consultas</option>
                                 <option value="1">Formular quejas</option>
                                 <option value="1">Formular felicitaciones</option>
                                 <option value="1">Formular denuncias</option>
                                 <option value="1">Formular reclamos</option>
                                 <option value="1">Interponer recursos</option>
                                 <option value="1">Senadores, Representantes y Células Legislativas</option>
                            </select>
                        </span>
                    </div>
                    <p class="help"> Seleccione cuál es su solicitud. Por ejemplo: Prestación de un servicio</p>
                </div>
                <!-- Este campo se llena dependiendo del anterior -->
                <div class="field ">
                    <label class="label">Término para resolver</label>
                    <p class="help">Su solicitud será resuelta en <strong> 30 </strong>días hábiles siguientes a su recepción </p>
                </div>
            </div>
        </div>

        <div class="columns">

            <div class="column ">
                <div class="field">
                    <label class="label">Asunto
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <input
                            [ngClass]= "f.asunto.touched && f.asunto.invalid? 'input is-danger' : 'input is-success'"
                            type="text"
                            formControlName="asunto"/>
                    </div>
                    <div class="help is-danger" *ngIf="f.asunto.touched && f.asunto.invalid">
                        <p *ngIf="f.asunto.errors.required"
                            [ngClass] = "'help is-danger'">Asunto es requido </p>
                        <p *ngIf="f.asunto.errors.minlength"
                            [ngClass] = "'help is-danger'">El asunto debe contener mas de 5 caracteres</p>
                        <p *ngIf="f.asunto.errors.maxlength"
                            [ngClass] = "'help is-danger'">El asunto debe contener menos de 120 caracteres</p>
                    </div>
                    <p class="help">Describa de manera corta el objeto de su petición. Por ejemplo: Prestación del servicio de interpretación</p>
                </div>

                <div class="field">
                    <label class="label">Descripción
                        <span class="has-text-danger">*</span>
                    </label>
                    <div class="control is-expanded">
                        <textarea
                            class="textarea"
                            [ngClass]= "f.descripn.touched && f.descripn.invalid? 'input is-danger' : 'input is-success'"
                            formControlName="descripn">
                        </textarea>

                    </div>
                    <p class="help">Describa o exponga las razones en las que fundamenta su petición.</p>
                </div>

                <div class="field">
                    <label class="label">Anexos</label>
                    <ngx-dropzone>
                        <ngx-dropzone-label>Cargue las imágenes o documentos que desea anexar.</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true">
                            <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <p class="help">Se permite cargar imágenes en formato: jpg, jpeg, gif, png.</p>
                    <p class="help">Se permite cargar documentos en formato txt, doc, docx, xsl, xslx, csv, ppt, pptx, pdf.</p>
                    <p class="help">Se permite cargar documentos comprimidos en formato zip o rar.</p>
                    <p class="help">El tamaño máximo permitido por archivo es de 25 MB. </p>
                </div>

                <div class="field">
                    <ngx-recaptcha2 #captchaElem
                     formControlName="recaptcha"
                     [siteKey]="siteKey" >
                    </ngx-recaptcha2>
                </div>

                <div class="field">
                    <div class="control">
                        <button
                            class="button is-success"
                            [disabled]="!form.dirty"
                            type="submit">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <br/>
    <br/>
<div>
